<div class="card" onclick="location.href='{{ site.baseurl }}{{ include.url }}'">
    <div class="card-block">
        <h4 class="card-title"></h4>
        <p><b>{{ include.title }}</b></p>
        <p>
            Sprecher: <a href="{{ site.baseurl }}/vortragende/{{ include.speaker-id }}.html">{{ include.speaker }}</a><br/>
            Raum: {{ include.room }}
        </p>
    </div>
    <div class="card-footer">
        <a href="{{ site.baseurl }}{{ include.url }}" class="card-link">Details</a>
    </div>
</div>