<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">
            Global Azure Bootcamp 2017
        </h1>
        <p class="lead">
            22. April 2017, Wissensturm Linz
        </p>
        <p>
            Das weltweite Community-Event rund um Softwareentwicklung mit der Microsoft Azure Cloud.
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="https://www.eventbrite.de/e/global-azure-bootcamp-austria-2017-tickets-31460449050"
                role="button">
                Jetzt Anmelden
            </a>
        </p>
    </div>
</div>