<div class="jumbotron jumbotron-fluid jumbotron-junior">
    <div class="container">
        <h1 class="display-4">
            Junior Bootcamp 2017
        </h1>
        <p class="lead">
            22. April 2017, Wissensturm Linz
        </p>
        <p>
            Das Community-Event für junge Coder, die Neugierig auf Cloud Computing sind.
        </p>
        <p>
            <a class="btn btn-primary btn-lg" href="https://www.eventbrite.de/tbd..."
                role="button">
                Jetzt Anmelden
            </a>
        </p>
    </div>
</div>